.reviews-video
	padding-top: 250px
	background-color: #e4f2f6
	padding-bottom: 137px
	background-image: url('../img/ident__bg.png')
	background-position: calc(89% - -89px) 450px
	background-repeat: repeat-x
	+r(1199)
		padding-top: 150px
	+r(1023)
		padding-top: 130px
		background-image: none
	+r(767)
		padding-top: 120px
	+r(479)
		padding-top: 90px
	.item__link--two
		color: #e0af0d
	.hike
		background: url('../img/mol__bg.png') no-repeat center top
		+r(1023)
			background: none
	&__title
		font-size: 75px
		margin-bottom: 64px
		+r(1199)
			font-size: 65px
			margin-bottom: 50px
		+r(1023)
			font-size: 55px
			margin-bottom: 40px
		+r(767)
			font-size: 45px
			margin-bottom: 30px
		+r(639)
			font-size: 35px
		+r(479)
			font-size: 30px
	.slick-initialized .slick-slide
		display: flex
		padding: 20px
		+r(767)
			flex-direction: column
			justify-content: center
			align-items: center
	.slick-dots
		display: none !important
	.slide-content .name
		width: 242px
	.center
		text-align: center
	.slide
		margin-bottom: 19px
	&__btn
		width: 223px
		padding: 11px 5px 18px 0
	.slide-content .text
		+r(1199)
			line-height: 1.54
	.slide
		+r(639)
			margin-bottom: 9px