<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/reviews-8.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/reviews-8-8.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Anna</h4>
         <p class="ttl">Зубы стали белыми, а я счастливой
         </p>
         <p class="text">
            Я решила отбелить зубы. Сейчас есть много средств. Есть отбеливающие пасты. Есть отбеливающие порошки. Даже
            специальный растения. Я выбрала iDent Formula. Сначала не было никакого результата. Но я сама виновата. Я
            просто долго светила на капу с гелем лампой, а потом прижимала ее к зубам. И конечно, результата не было.
            Через 2 недели я поняла, что делаю не так. перечитала инструкцию и поняла свою ошибку. После того, как
            стала правильно зубы отбеливать - все стало хорошо. Каждую неделю я вижу результат - зубы белеют.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>