<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/reviews-7.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/reviews-7-7.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Monique</h4>
         <p class="ttl">Отбеливание видно после каждой процедуры
         </p>
         <p class="text">
            Мне очень надоело, что ждать результатов отбеливания зубов нужно несколько месяцев. Я стала искать, что-то
            быстрое, но безопасное. Таким оказался ident formula. Мне этот комплект сразу понравился. Выглядит он очень
            по-современному: капа, гели и лампа. Использовать все очень просто. Я каждое утро, когда готовлю завтрак и
            кофе перед работой зубы себе отбеливаю - очень удобно. Еще понравилось, что с каждой процедурой зубы
            становятся белее. Если провести по ним языком, они чувствуются очень и очень гладкими! Это очень приятно и
            я всем своим подругам уже посоветовала этот комплекс.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>