<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/reviews-10.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/reviews-10-10.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Barbara</h4>
         <p class="ttl">В салон больше не хожу, отбеливаю зубы дома
         </p>
         <p class="text">
            Ходила я раньше в салоны и отбеливала зубы лазером. Я заядлый кофеман и раз в два месяца обязательно хожу
            на такие процедуры. После очередного сеанса я встретилась в кафе с подругой. Она и спросила меня, зачем я
            хожу в дорогой салон, если можно зубы дома отбелить. Я сначала не поверила, но все таки купила iDent
            Formula. Через два месяца пришло время отбеливать зубы и я воспользовалась этим средством. Мой вывод - оно
            так же хорошо отбеливает, как и процедура в салоне, а стоит в несколько раз дешевле.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>