<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/3.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/3+.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Elza111</h4>
         <p class="text">
            Мне очень нравится, что зубы можно теперь отбелить не только в салонах, но и дома! Вы меня извините, но я
            признаю только новые и технологические средства для отбеливания зубов и раньше только в салоне и
            отбеливала. Хорошо, что у нас в городе их много, а вот порошки я не пробовала и пробовать не собираюсь, так
            же как и пасты! Сколько времени должно пройти, прежде чем они подействуют? Год? Два? Так что только салоны
            ну или этот iDent! Сама я его не пробовала, но обязательно испытаю на себе. Слышала о нем много хорошего.
            Уже заказала.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>