<div class="slide">
  <div class="slide__img">
    <div class="img-wrap img-wrap--before">
      <img src="img/reviews-2.png" alt="review" class="review review--before" />
    </div>
    <div class="img-wrap img-wrap--after">
      <img
        src="img/reviews-2-2.png"
        alt="review"
        class="review review--after"
      />
    </div>
  </div>
  <div class="slide__text">
    <div class="slide-content">
      <h4 class="name">Katty</h4>
      <p class="ttl">Пью кофе, как и раньше, а зубы белые</p>
      <p class="text">
        Из-за курения у меня очень сильно потемнели зубы. Я пробовала и зубные
        пасты и порошки, но они помогали только немного и если перестать их
        использовать, то зубы опять темнели. Очень хотела найти что-то, чтобы
        надолго отбелить зубы. Этим средством оказался гель и лампа iDent
        Formula. Понравилось, что все очень просто - намазать капу гелем, сжать
        губами лампу и посидеть спокойно 15 минут. Даже заметила, что после
        каждого сеанса зубы понемногу белее становились.
      </p>
    </div>
    <div class="show-btn js-show-more"></div>
  </div>
</div>
