<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/reviews-3.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/reviews-3-3.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Maria</h4>
         <p class="ttl">Больше не стесняюсь своей улыбки</p>
         <p class="text">
            Я заметила на фотографии, что у меня самые темные зубы из всех моих подруг и очень расстроилась из-за
            этого. Стала узнавать, чем можно отбелить зубы. Ополаскиватели, зубные пасты, порошок отбросила, потому что
            хотела что-то безопасное и натуральное. Гель в капе и лампа ident formula мне подошли идеально. Я очень
            довольна результатами и главное, что десны и зубы совсем не страдали и не болели. Зубы и Белые и здоровые.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>