<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/reviews-9.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/reviews-9-9.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Frank</h4>
         <p class="ttl">Теперь внимательно читаю инструкцию
         </p>
         <p class="text">
            Я сделал очень большую ошибку, когда решил отбеливать зубы не 15 минут за 1 раз, а 30 минут и 3 раза в
            неделю. Я думал, что чем больше буду сидеть и отбеливать зубы, тем быстрее они станут белыми. Но они стали
            слишком белыми. А это не очень красиво. Чтобы вернуть нормальный белый цвет зубов я потратил полтора
            месяца. Но я сам тут виноват, не слушал инструкцию. А само средство хорошее и я даже не ожидал такого
            сильного результата. Но лучше следовать инструкции.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>