<div class="slide">
  <div class="slide__img">
    <div class="img-wrap img-wrap--before">
      <img src="img/reviews-1.png" alt="review" class="review review--before" />
    </div>
    <div class="img-wrap img-wrap--after">
      <img src="img/reviews-1-1.png" alt="review" class="review review--after" />
    </div>
  </div>
  <div class="slide__text">
    <div class="slide-content">
      <h4 class="name">Vaan</h4>
      <p class="ttl">Зубы стали белыми и гладкими</p>
      <p class="text">
        Я всегда стеснялась улыбаться из-за темных зубов. Отбеливать пробовала
        зубными пастами. Они вроде и помогали, зубы становились белее. Но
        заметила, что зубы стали болеть если я пила холодную воду или горячий
        чай или кофе. Поняла, что это из-за отбеливания. Стала искать другой
        способ. Подруга мне посоветовала попробовать iDent Formula. Средство это
        очень понравилось, даже не ожидала. У меня зубы стали белее и больше не
        болят, если пью холодное.
      </p>
    </div>
    <div class="show-btn js-show-more"></div>
  </div>
</div>