<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/reviews-6.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/reviews-6-6.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Jasmin</h4>
         <p class="ttl">Каждый день радуюсь красивым и белым зубам</p>
         <p class="text">
            Никогда не могла радоваться на полную и если начинала улыбаться сразу прикрывала рот рукой, чтобы никто не
            увидел, что у меня зубы не белые. Пробовала отбелить зубы пастами - но от них у меня аллергия и десна
            начинали кровоточить. Искала в интернете, чем сейчас зубы отбеливают и нашла ident formula. Писали, что
            сейчас это самое новое и хорошее средство и главное - безопасное для моего здоровья. Я в тот же вечер и
            заказала себе. Посылка со средством пришла быстро - за 4 дня, я даже удивилась. Все делала по инструкции и
            скоро заметила, что зубы действительно стали белее и никаких аллергий! Больше не смущаюсь при улыбке,
            советую попробовать.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>