<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/1.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/1+.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Dancer4Life</h4>
         <p class="text">
            Я пользуюсь <span class="blue">ident formula</span>. Могу от себя добавить, что с помощью этого комплекса
            зубы отбелить можно гораздо
            быстрее, чем с порошками и пастами. Я помню, как отбеливала пастой, так у меня ушло на более менее
            нормальный результат где-то 3 месяца. И это я каждый день зубы чистила, а если бы пропускала пару раз в
            неделю - зубы снова темнели. С <span class="blue">ident</span> все проще и быстрее, видишь результат после
            каждого отдельного сеанса,
            но важно не переусердствовать и делать все по инструкции. А то у меня подруга постоянно продлевала себе
            отбеливание с 15 минут до 30 минут и зубы у нее теперь слишком белые, а это даже не очень красиво.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>