<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/reviews-5.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/reviews-5-5.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Cristina</h4>
         <p class="ttl">Пастой больше пользоваться не буду - только капами</p>
         <p class="text">
            Хочу рассказать, почему решила, что зубы отбеливать буду только гелем и капами ident и больше никаких паст.
            Во-первых, это удобно. Не нужно стоять над раковиной и зубы начищать. Капы одела, лампу присоединила и
            можно спокойно себе еду готовить. Во-вторых, эффект от процедур длиться очень долго, а от паст - нет. Паста
            помогает, если ею постоянно отбеливать зубы и если прекращаешь - то все, зубы опять желтеют. В-третьих,
            ident formula хватает очень на долго. В-четвертых, зубы после паст очень чувствительные становятся, а после
            этого геля - нет.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>