<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/reviews-4.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/reviews-4-4.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Jenny</h4>
         <p class="ttl">Не боюсь пить холодные и горячие напитки</p>
         <p class="text">
            Когда в первый раз хотела отбелить зубы я переусердствовала и очень повредила эмаль. Зубы у меня стали
            очень чувствительные. Если я пила кофе или чай горячий они у меня сильно начинали болеть. То же и с
            холодными напитками - боль страшная. Несмотря на это я все равно хотела отбелить зубы, но надо было это
            осторожно делать. Мне сестра посоветовала новинку - iDent Formula, которым она сама недавно отбеливала
            зубы. Я попробовала. Зубы стали и светлее и потихоньку чувствительность зубов стала уменьшаться. Я
            довольна.
         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>