<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/4.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/4+.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Kate2000_STU</h4>
         <p class="text">
            У меня тоже была проблема с зубами. Я год назад захотела их отбелить и пользовалась отбеливающей зубной и
            очень сильно терла зубы и стерла себе много зубной эмали. У меня зубы и болели и если я пила горячее или
            холодную воду - это была очень сильная боль. В итоге я долго восстанавливала эмаль специальными средствами.
            И я очень обрадовалась, что ident совсем не портит зубную эмаль. Я только им теперь пользуюсь, чтобы зубы
            отбеливать. Я их уже сделала очень белыми, но хочу еще лучше сделать.

         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>