<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/5.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/5+.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Mark</h4>
         <p class="text">
            Я сам курильщик и система ident мою мечту осуществила. Я даже не верил, что когда-нибудь буду так смело
            улыбаться. Я курил 10 лет, а уже более 4 лет вообще не курю, но зубы так и остались некрасивого желтого
            оттенка. Потом нашел себе ident и стал отбеливать зубы. И у меня все получилось! Больше никаких желтых
            оттенков, зубы у меня красивые и белые. Я даже не верил, что результат будет такой сильный и тем более дома
            и так экономно.

         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>