<div class="slide">
   <div class="slide__img">
      <div class="img-wrap img-wrap--before">
         <img src="img/2.png" alt="review" class="review review--before" />
      </div>
      <div class="img-wrap img-wrap--after">
         <img src="img/2+.png" alt="review" class="review review--after" />
      </div>
   </div>
   <div class="slide__text">
      <div class="slide-content">
         <h4 class="name">Liza_be_ay</h4>
         <p class="text">
            Мне сначала было очень неудобно пользоваться комплексом <span class="blue">ident</span> и все из-за капы.
            Но через два дня, как-то
            привыкаешь и не замечаешь дискомфорта. С ним гораздо проще и удобней отбеливать зубы, чем с пастой или
            порошком или щеткой с потому что времени на себя иногда вообще нет. Хочу и про гель сказать. Гель тоже
            хороший - не пахнет, не липнет. Но я обязательно зубы чищу перед и после процедуры, чтобы зубы равномерно
            отбеливались. За месяц я себе действительно на 2 тона отбелила зубы - очень красиво теперь. Всем своим
            подругам посоветовала.

         </p>
      </div>
      <div class="show-btn js-show-more"></div>
   </div>
</div>