<!--=include ../menu.html -->
<section class="faq">
	<div class="container">
		<h2 class="title title-faq">Frequently <span class="blue">Asked&nbsp;Questions</span></h2>
		<div class="faq__wrap">
			<div class="faq__item">
				<div class="faq__info">
					<p class="faq__question">How to order and request a delivery?</p>
					<p class="faq__answer">Просто оставьте свой телефон и имя в форме на этом сайте. Наш менеджер перезвонит вам и сам оформит заявку.</p>
				</div>
				<div class="faq__arrow"></div>
			</div>
			<div class="faq__item">
				<div class="faq__info">
					<p class="faq__question">How fast will I get the product?</p>
					<p class="faq__answer">Мы сотрудничаем только с проверенными почтовыми службами. В среднем они совершают доставку за 5 - 6 дней.</p>
				</div>
				<div class="faq__arrow"></div>
			</div>
			<div class="faq__item">
				<div class="faq__info">
					<p class="faq__question">How does it work?</p>
					<p class="faq__answer">Специальные световые лучи активизируют гель для отбеливания зубов. Молекулы кислорода проникают глубоко в ткани зуба и начинают отбеливать пятна изнутри, расщепляя желтый пигмент. В это же время средство укрепляет зубную эмаль.</p>
				</div>
				<div class="faq__arrow"></div>
			</div>
			<div class="faq__item">
				<div class="faq__info">
					<p class="faq__question">When should I use it?</p>
					<p class="faq__answer">Использовать iDent Formula нужно 2 раза в день: утром и вечером.</p>
				</div>
				<div class="faq__arrow"></div>
			</div>
			<div class="faq__item">
				<div class="faq__info">
					<p class="faq__question">Does it really help?</p>
					<p class="faq__answer">Да, за 1 курс можно отбелить зубы на 2 тона.</p>
				</div>
				<div class="faq__arrow"></div>
			</div>
			<div class="faq__item">
				<div class="faq__info">
					<p class="faq__question">How long do I keep it in my mouth for?</p>
					<p class="faq__answer">Достаточно 15 минут за один сеанс.</p>
				</div>
				<div class="faq__arrow"></div>
			</div>
			<div class="faq__item">
				<div class="faq__info">
					<p class="faq__question">What are the ingredients?</p>
					<p class="faq__answer">Средство полностью натуральное. Его главный ингредиент - перекись карбамида, органическое соединение, которое на сегодняшний день заслуженно заняло первые позиции в рейтингах стоматологических средств.</p>
				</div>
				<div class="faq__arrow"></div>
			</div>
			<div class="faq__item">
				<div class="faq__info">
					<p class="faq__question">What is the expiry date?</p>
					<p class="faq__answer">Срок хранения геля - 2 года.</p>
				</div>
				<div class="faq__arrow"></div>
			</div>
		</div>
		<button class="btn btn-faq ever-popup-btn">Заказать iDent</button>
	</div>
</section>