<section class="reviews-video block">
   <div class="container">
      <!--=include ../menu.html -->
      <h2 class="title reviews-video__title">What our clients have to say</h2>
      <div class="hike">
         <div class="video-wrap">
            <div class="youtube" id="5BOJRVejnXc" style="width: 330px; height: 220px;"></div>
         </div>
         <div class="video-wrap">
            <div class="youtube" id="phDwESTdqpA" style="width: 320px; height: 220px;"></div>
         </div>
         <div class="video-wrap">
            <div class="youtube" id="vnz8lnFA6GY" style="width: 320px; height: 220px;"></div>
         </div>
      </div>
      <div class="slider-wrap">
         <div class="reviews__slider">
            <!--=include ../slide/slide11.html -->
            <!--=include ../slide/slide12.html -->
            <!--=include ../slide/slide13.html -->
            <!--=include ../slide/slide14.html -->
            <!--=include ../slide/slide15.html -->
         </div>
         <span class="paging">1 / 5</span>
         <div class="preview-item preview-item--prev" id="js_preview-prev">
            <div class="preview-item__content">
               <div class="img-wrap img-wrap--before">
                  <img src="img/2.png" alt="review" class="review review--before" />
               </div>
               <div class="img-wrap img-wrap--after">
                  <img src="img/2+.png" alt="review" class="review review--after" />
               </div>
            </div>
         </div>
         <div class="preview-item preview-item--next" id="js_preview-next">
            <div class="preview-item__content">
               <div class="img-wrap img-wrap--before">
                  <img src="img/5.png" alt="review" class="review review--before" />
               </div>
               <div class="img-wrap img-wrap--after">
                  <img src="img/5+.png" alt="review" class="review review--after" />
               </div>
            </div>
         </div>
      </div>
      <div class="center"><button class="btn reviews-video__btn">Заказать iDent</button></div>
   </div>
   </div>
</section>