.header-bottom
	background-color: #e4f2f6
	padding-bottom: 73px
	padding-top: 85px
	background-image: url('../img/ident__bg.png')
	background-position: calc(81% - -89px) 195px
	background-repeat: repeat-x
	+r(1023)
		background-image: none
	.img-wrap
		position: relative
		+r(767)
			&:before
				content: ''
				display: block
				position: absolute
				top: 63px
				left: 192px
				z-index: 10
				+sprite($pick-form)
		+r(639)
			&:before
				top: -29px
				left: 262px
		+r(479)
			&:before
				display: none
	&__wrap
		display: flex
		justify-content: space-between
		position: relative
		background: url('../img/mol__bg.png') no-repeat 360px 10px
		+r(1023)
			flex-direction: column
			justify-content: center
			background: none
		.girl
			position: absolute
			bottom: -48px
			left: 382px
			pointer-events: none
			max-width: 100%
			+r(1199)
				width: 530px
				left: 346px
				bottom: -80px
			+r(1023)
				width: 349px
				left: 36px
				bottom: 200px
			+r(767)
				display: none
	&__order
		margin-left: auto
		margin-top: 9px
		+r(1199)
			margin-top: 0
		+r(1023)
			margin-left: auto
		+r(639)
			margin: auto
	.info-list
		+r(1023)
			margin-bottom: 60px
		+r(767)
			margin-bottom: 0
		&__title
			margin-bottom: 19px
			+r(1199)
				margin-bottom: 20px
			+r(1023)
				margin-bottom: 15px
			+r(767)
				margin-bottom: 10px
		&__desc
			margin-bottom: 42px
			+r(1199)
				margin-bottom: 40px
			+r(1023)
				margin-bottom: 15px
			+r(767)
				margin-bottom: 10px
			+r(639)
				margin-bottom: 20px
		&__plus
			.item
				+nlt
					margin-bottom: 26px
		.product
			bottom: -118px
			left: 364px
			z-index: 3
			+r(1199)
				left: 334px
				width: 321px
			+r(1023)
				left: 14px
				width: 380px
				bottom: -600px
			+r(767)
				left: 9px
				width: 330px
				bottom: -410px
			+r(639)
				position: static
				margin-bottom: 16px
			+r(479)
				width: 300px