.order
	padding: 50px 0
	padding-bottom: 100px
	position: relative
	&::after
		content: ''
		display: block
		position: absolute
		bottom: -68px
		left: 0
		right: 0
		height: 94px
		background: url('../img/line-bottom.png') no-repeat center bottom
		+r(1023)
			display: none
	&__title
		margin-bottom: 49px
	&__content
		display: flex
		justify-content: space-around
		counter-reset: section
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			left: 218px
			top: 150px
			background: url(../img/line-order.png) no-repeat center center
			height: 98px
			width: 698px
		.item
			width: 260px
			text-align: center
			position: relative
			&:nth-of-type(2)
				margin-top: 58px
			&:nth-of-type(3)
				margin-top: 122px
			&::before
				content: "Шаг " counter(section)
				counter-increment: section
				display: flex
				align-items: center
				justify-content: flex-start
				padding-left: 20px
				position: absolute
				width: 167px
				height: 44px
				top: 0
				left: 0
				color: white
				font-size: 34.5px
				font-weight: 700
				font-style: italic
				line-height: 1.36
				background: linear-gradient(90deg, #0d73b9, #0fa7dd ,#0d73b9)
				clip-path: polygon(0 0, 100% 1%, 85% 100%, 0% 100%)
			&:nth-of-type(1)
				&::before
					top: 11px
					left: -38px
			&:nth-of-type(2)
				&::before
					top: 13px
					left: -31px
			&:nth-of-type(3)
				&::before
					top: 18px
					left: -18px
			&__img
				box-shadow: 10px 17.3px 35px 0 rgba(66, 97, 106, 0.2)
				border-radius: 50%
				border: 7px solid white
				max-width: 100%
				margin-bottom: 39px
			&__text
				font-size: 21px
				line-height: 1.43
				color: #4d5257
				position: relative
				&::before
					content: ''
					display: block
					position: absolute
					left: 50%
					top: -24px
					transform: translateX(-50%)
					+sprite($check)
					z-index: -1
				.bold
					color: #000000
					font-weight: 700
					display: block