<section class="about">
    <div class="container">
        <!--=include ../menu.html -->
        <div class="about__content">
            <h2 class="about__main-title">
                About us
            </h2>
            <p class="about__text about__text--1">
                Мы создавали не просто отбеливающее средство, а такую систему, которой будем пользоваться мы сами и наши семьи. Это должна была быть не просто альтернатива дорогостоящим процедурам в кабинете дантиста.
                Мы искали способ сделать каждую улыбку одновременно красивой и здоровой.
            </p>
            <h3 class="about__title">
                И мы создали <span class="about__logo">iDent Formula</span>.

            </h3>
            <p class="about__text about__text--2">
                В разработке <span class="about__logo">iDent Formula</span> участвовало более 40 специалистов.  Идеальное решение было найдено.
                В основе формулы – только натуральные компоненты. Теперь можно не просто устранять темный пигмент,
                но и избавляться от микротрещин в зубной эмали, восстанавливая ее.

            </p>
            <p class="about__text about__text--3">
                Главные достоинства системы <span class="about__logo">iDent Formula</span> - комплексный эффект отбеливания
                и восстановления, компактность системы, удобство ее применения и доступность. Никакого истончения эмали, никакой повышенной чувствительности. Только польза, только удобство
                и практичность.
            </p>
            <p class="about__text about__text--4">
                Наша цель - делать так, чтобы каждому человеку были доступны самые эффективные средства
                для ухода за собой, а именно для отбеливания зубов. Мы хотим сделать жизнь каждого нашего клиента
                более счастливой и полной ярких моментов.
            </p>
            <h3 class="about__subtitle">
                Наша цель – ваши ослепительные улыбки!
            </h3>
            <div class="btn about__btn ever-popup-btn">
                Заказать iDent
            </div>
        </div>
    </div>
</section>







