<form class="form-small">
  <p class="form-ttl">
    Закажите сейчас<br /><span class="gold">по Акции</span>
  </p>
  <div class="price">
    <div class="old">
      <p class="old__text">Старая цена</p>
      <p class="text-nowrap">
        <span class="old__value x_price_previous">1980</span><span class="old__current x_currency">руб</span>
      </p>
    </div>
    <div class="new">
      <p class="new__text">Ваша цена</p>
      <p class="text-nowrap">
        <span class="new__value x_price_current">990</span><span class="new__current x_currency">руб</span>
      </p>
    </div>
  </div>
  <p class="timer-ttl">Осталось до конца<br />акции</p>
  <div class="timer">
    <div class="wrap">
      <div class="timer__el hours">0</div>
      <div class="timer__el hours">0</div>
    </div>
    <div class="wrap">
      <div class="timer__el minutes">0</div>
      <div class="timer__el minutes">0</div>
    </div>
    <div class="wrap">
      <div class="timer__el seconds">0</div>
      <div class="timer__el seconds">0</div>
    </div>
  </div>
  <div class="btn form-small__btn ever-popup-btn">Заказать</div>
</form>