<form action="/submit" method="post" class="form-big x_order_form">
  <p class="form-ttl">
    Закажите сейчас<br /><span class="gold">по Акции</span>
  </p>
  <div class="price">
    <div class="old">
      <p class="old__text">Старая цена</p>
      <p class="text-nowrap">
        <span class="old__value x_price_previous">1980</span
        ><span class="old__current x_currency">руб</span>
      </p>
    </div>
    <div class="new">
      <p class="new__text">Ваша цена</p>
      <p class="text-nowrap">
        <span class="new__value x_price_current">990</span
        ><span class="new__current x_currency">руб</span
        ><span class="note">*</span>
      </p>
    </div>
  </div>
  <div class="leftovers">
    Осталось упаковок<small><br />со скидкой:</small>
    <span class="lastpacks">15</span>
  </div>
  <div class="input-wrap">
    <i class="fico fico-name"></i>
    <input
      class="input"
      type="text"
      name="name"
      placeholder="Мое имя"
      required=""
      autocomplete="name"
    />
  </div>
  <div class="input-wrap">
    <i class="fico fico-tel"></i
    ><input
      class="input"
      type="tel"
      name="phone"
      placeholder="Мой телефон"
      required=""
      autocomplete="tel"
    />
  </div>
  <button type="submit" class="form-big__btn btn">
    Заказать <small class="small">co скидкой</small>
  </button>
  <span class="foodnote">* при заказе курса</span>
  <div class="cost">
    <p class="text"><i class="fico fico-cost"></i> Оплата после получения</p>
  </div>
</form>
