<div class="nav js_nav">
  <div class="container">
    <div class="nav-wrap">
      <div class="menu js_menu-show" data-target="#nav__menu">
        <span class="menu__line menu__line--1"></span>
        <span class="menu__line menu__line--2"></span>
        <span class="menu__line menu__line--3"></span>
      </div>

      <a href="/" class="link">
        <img src="img/logo.png" alt="logo" class="logo"
      /></a>
      <ul class="nav__list">
        <li class="item">
          <i class="fico fico-icon-1"></i>
          <a href="#" class="item__link"> Отзывы </a>
        </li>
        <li class="item">
          <i class="fico fico-icon-2"></i>
          <a href="#" class="item__link"> Состав</a>
        </li>
        <li class="item">
          <i class="fico fico-icon-3"></i>
          <a href="#" class="item__link"> Оплата и доставка</a>
        </li>
      </ul>
      <div class="btn nav__btn js_none">Заказать</div>
    </div>
  </div>
  <div class="menu-wrap" id="nav__menu">
    <div class="container">
      <ul class="nav__menu">
        <li class="item"><a href="#" class="item__link">About us</a></li>
        <li class="item"><a href="#" class="item__link">Reviews</a></li>
        <li class="item"><a href="#" class="item__link">FAQ</a></li>
      </ul>
    </div>
  </div>
</div>
