body
	font-family: 'Roboto', Arial, Helvetica, sans-serif
	font-size: 16px
	background: white
	overflow-x: hidden
// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block


.blue
	color: $color-blue

.text-bold
	font-weight: 700

.text-black
	font-weight: 900

.text-medium
	font-weight: 500

.block
	+r(1199)
		padding: 60px 0
	+r(1023)
		padding: 40px 0
	+r(767)
		padding: 30px 0
	+r(479)
		padding: 25px 0
.title
	font-size: 44px
	line-height: 44px
	text-align: center
	font-weight: 900
	margin: 0 auto
	color: #1e1e1e
	+r(1199)
		font-size: 36px
		line-height: 37px
	+r(1023)
		font-size: 32px
		line-height: 33px
	+r(767)
		font-size: 29px
		line-height: 30px
	+r(479)
		font-size: 26px
		line-height: 27px


.btn
	width: 223px
	height: 55px
	border-radius: 27px
	background-color: #e1a400
	border: none
	border-bottom: 3px solid #be8d07
	outline: none
	cursor: pointer
	text-shadow: -0.1px 1px 2px rgba(0, 0, 0, 0.2)
	font-size: 26px
	font-weight: 700
	font-style: italic
	letter-spacing: -0.6px
	color: #ffffff
	text-align: center
	padding: 14px 5px 18px 0
	transition: all .3s
	&:hover
		background-image: linear-gradient(to left, #ffba00, #e1a400)

ul
	list-style: none

select:-moz-focusring, a:-moz-focusring
	color: transparent
	text-shadow: 0 0 0 #000

*
	&:focus, &:visited, &:active, &:hover
		outline: 0 !important

a
	outline: 0 !important
	&:focus, &:visited, &:active, &:hover
		outline: 0 !important

*::-moz-focus-inner
	border: 0
	outline: none