.foot
	font-size: 16px
	line-height: 1.5
	color: #666666
	&__col
		display: flex
		flex-direction: column
		align-items: center
	.everad
		margin-bottom: 12px
		max-width: 100%
		width: 54px
	.link
		text-decoration: none
		color: #666666