<section class="advanteges block">
	<div class="advanteges__over">
	<div class="container">

		<h2 class="title title-advanteges">Почему система <span class="blue">iDent Formula</span> быстро набирает популярность</h2>

		<div class="advanteges__wrap">
			<div class="advanteges__left">
				<div class="advanteges__item">
					<p class="advanteges__name">Отбеливание — это теперь полезно</p>
					<p class="advanteges__text">Раньше отбеливание разрушало зубную эмаль.&nbsp;<br> <span class="blue text-black"> iDent</span> же помогает ее восстановить и насытить минералами. Вы не только отбеливаете зубы, но и противостоите микротрещинам.</p>
				</div>
				<div class="advanteges__item">
					<p class="advanteges__name">Отбеливание — это больше не&nbsp;больно</p>
					<p class="advanteges__text">Боль — это результат воздействия агрессивных веществ на&nbsp;пульпу зуба, наполненную множеством нервных<br> окончаний. Действующие вещества в <span class="blue text-black">iDent</span> — натуральные и&nbsp;бережные, вы не почувствуете ни малейшего дискомфорта.</p>
				</div>
				<div class="advanteges__item">
					<p class="advanteges__name">Отбеливание — это быстро и&nbsp;удобно</p>
					<p class="advanteges__text">Отбеливание у врача может длиться около 2-х часов. Порошками и пастами нужно пользоваться по несколько месяцев. С <span class="blue text-black">iDent</span> вы не тратите время на дорогу в клинику. Каждая процедура займет всего 15 минут, а курс — до 3-х недель. И вы можете при этом заниматься своими делами.</p>
				</div>
			</div>

			<div class="advanteges__right">
				<div class="advanteges__slider">
					<div class="advanteges__slide">
						<div class="advanteges__before">
							<div class="advanteges__img">
								<img src="img/advant-slide1.png" alt="девушка">
							</div>
						</div>
						<div class="advanteges__after">
							<div class="advanteges__img">
								<img src="img/advant-slide11.png" alt="девушка">
							</div>
						</div>
					</div>
					<div class="advanteges__slide">
						<div class="advanteges__before">
							<div class="advanteges__img">
								<img src="img/advant-slide2.png" alt="зубы">
							</div>
						</div>
						<div class="advanteges__after">
							<div class="advanteges__img">
								<img src="img/advant-slide22.png" alt="зубы">
							</div>
						</div>
					</div>
					<div class="advanteges__slide">
						<div class="advanteges__before">
							<div class="advanteges__img">
								<img src="img/advant-slide3.png" alt="девушка">
							</div>
						</div>
						<div class="advanteges__after">
							<div class="advanteges__img">
								<img src="img/advant-slide33.png" alt="девушка">
							</div>
						</div>
					</div>
					<div class="advanteges__slide">
						<div class="advanteges__before">
							<div class="advanteges__img">
								<img src="img/advant-slide4.png" alt="девушка">
							</div>
						</div>
						<div class="advanteges__after">
							<div class="advanteges__img">
								<img src="img/advant-slide44.png" alt="девушка">
							</div>
						</div>
					</div>
					<div class="advanteges__slide">
						<div class="advanteges__before">
							<div class="advanteges__img">
								<img src="img/advant-slide5.png" alt="зубы">
							</div>
						</div>
						<div class="advanteges__after">
							<div class="advanteges__img">
								<img src="img/advant-slide55.png" alt="зубы">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>