<section class="expert block">
	<div class="container">
		<h2 class="title title-expert">Экспертное мнение</h2>
		<div class="expert__wrap">
			<div class="expert__left">
				<div class="expert__img">
					<img src="img/expert.png" alt="эксперт">
				</div>
			</div>
			<div class="expert__right">
				<p class="expert__name">Kathy Mitchell</p>
				<p class="expert__who">эксперт в области красоты и&nbsp;стиля:</p>
				<p class="expert__quotes">“У людей с красивой улыбкой даже зарплата на 25% выше!”</p>
				<div class="expert__info">
					<p class="expert__text">Красивые белые зубы - это один из основных моментов,<br> по которому люди составляют о вас мнение. Ученые выяснили,<br> что у людей с красивой улыбкой даже зарплата на 25% выше!</p>
					<p class="expert__text">Сейчас есть много средств для отбеливания зубов. Да, они помогают сделать зубы белыми, но при этом они истончают зубную эмаль.<br> Это сначала вызывает чувствительность и боль в зубах, затем их&nbsp;разрушение. А это точно не то, к чему мы стремимся.</p>
					<p class="expert__text"><span class="expert__text-bold">Я рекомендую использовать <span class="blue">iDent Formula</span></span>. Эта система нового поколения обладает комплексным эффектом: она и <span class="expert__text-bold"> зубы помогает отбелить, и зубную эмаль восстановить на молекулярном уровне</span>.</p>
					<p class="expert__text">Зубы – единственный орган в организме человека, который не регенерирует самостоятельно. Потому нужно относиться к ним очень бережно и выбирать для них только самые лучшие средства!</p>
				</div>
			</div>
		</div>
	</div>
</section>