<section class="feature block">
	<div class="container">
		<h2 class="title title-feature">Сравнительная характеристика <span class="blue">iDent&nbsp;Formula</span></h2>

		<div class="feature__wrap">
			<div class="feature__fixed">
				<div class="feature__col">
					<div class="feature__row feature__row-1"></div>
					<div class="feature__row feature__row-2">
						<p class="feature__name">Длительность отбеливания</p>
					</div>
					<div class="feature__row feature__row-3">
						<p class="feature__name">Зубы становятся светлее</p>
					</div>
					<div class="feature__row feature__row-4">
						<p class="feature__name">Возможные побочные эффекты</p>
					</div>
					<div class="feature__row feature__row-5">
						<p class="feature__name">Дополнительный эффект</p>
					</div>
				</div>
			</div>
			<div class="feature__slider">
				<div class="feature__col ">
					<div class="feature__row feature__row-1">
						<p class="feature__top feature__top-1">Отбеливающие зубные пасты</p>
					</div>
					<div class="feature__row feature__row-2">
						<p class="feature__text">2 - 3 месяца</p>
					</div>
					<div class="feature__row feature__row-3">
						<p class="feature__text">на 1 тон</p>
					</div>
					<div class="feature__row feature__row-4">
						<p class="feature__text">Повреждение, истончение зубной эмали</p>
						<p class="feature__text">Повышенная чувствительность зубов</p>
						<p class="feature__text">Кровоточащие десна</p>
					</div>
					<div class="feature__row feature__row-5">
						<div class="feature__text">—</div>
					</div>
				</div>
				<div class="feature__col feature__col-2">
					<div class="feature__row feature__row-1">
						<p class="feature__top feature__top-2">Отбеливающий зубной порошок</p>
					</div>
					<div class="feature__row feature__row-2">
						<p class="feature__text">3 - 4 месяца</p>
					</div>
					<div class="feature__row feature__row-3">
						<p class="feature__text">на 0,5 тона</p>
					</div>
					<div class="feature__row feature__row-4">
						<p class="feature__text">Повреждение,<br>истончение зубной эмали</p>
						<p class="feature__text">Повышенная чувствительность зубов</p>
						<p class="feature__text">Кровоточащие десна</p>
					</div>
					<div class="feature__row feature__row-5">
						<div class="feature__text">—</div>
					</div>
				</div>
				<div class="feature__col feature__col-3">
					<div class="feature__row feature__row-1">
						<p class="feature__top feature__top-3">iDent Formula</p>
					</div>
					<div class="feature__row feature__row-2">
						<p class="feature__text">21 день</p>
					</div>
					<div class="feature__row feature__row-3">
						<p class="feature__text">на 2-3 тона за&nbsp;1&nbsp;курс</p>
					</div>
					<div class="feature__row feature__row-4">
						<p class="feature__text">—</p>
					</div>
					<div class="feature__row feature__row-5">
						<div class="feature__text">Способствует восстановлению эмали</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>