<header class="header">
  <div class="container">
    <!--=include ../menu.html -->
    <div class="header__wrap">
      <img src="img/girl.png" alt="girl" class="girl" />
      <div class="info-list">
        <h1 class="title info-list__title">
          Первое&nbsp;<br class="hide" />
          полезное <br />
          <span class="blue">отбеливание</span>
        </h1>
        <p class="info-list__desc">
          2 в 1: отбеливание&ensp;<br />и&nbsp;восстановление ваших зубов
        </p>
        <ul class="info-list__plus">
          <li class="item">
            <i class="fico fico-check"></i>
            <span class="item__ttl">Отбеливает</span> на&nbsp;молекулярном
            уровне
          </li>
          <li class="item">
            <i class="fico fico-check"></i>
            <span class="item__ttl">Способствует</span> восстановлению эмали
          </li>
          <li class="item">
            <i class="fico fico-check"></i>
            <span class="item__ttl item__ttl--last">
              Помогает укрепить зубы</span
            >
            и снизить чувствительность
          </li>
        </ul>
        <img src="img/product.png" alt="product" class="product" />
      </div>
      <div class="header__order">
        <!--=include ../form-small.html -->
        <div class="a"></div>
      </div>
    </div>
  </div>
</header>
