<section class="how block">
    <div class="container">
        <h2 class="title how__title">
            Как применять <span class="blue">iDent&nbsp;Formula</span>
        </h2>
        <div class="how__content">
            <div class="how__item how__item-1">
                <span class="how__step how__step-1">
                    Шаг 1
                </span>
                <div class="how__img">
                    <img src="img/how__img-1.jpg" alt="" class="how__foto">
                </div>
                <p class="how__text">
                    <img src="img/check.svg" class="how__text--el">
                    Нанесите небольшое количество <br>
                    геля на капу и наденьте <br>
                    ее на зубы
                </p>
            </div>
            <div class="how__item how__item-2">
                <span class="how__step how__step-2">
                    Шаг 2
                </span>
                <div class="how__img">
                    <img src="img/how__img-2.jpg" alt="" class="how__foto">
                </div>
                <p class="how__text">
                    <img src="img/check.svg" class="how__text--el">
                    Прижмите к капе led-лампу <br>
                    из комплекта, плотно зажмите <br>
                    ее губами
                </p>
            </div>
            <div class="how__item how__item-3">
                <span class="how__step how__step-3">
                    Шаг 3
                </span>
                <div class="how__img">
                    <img src="img/how__img-3.jpg" alt="" class="how__foto">
                </div>
                <p class="how__text">
                    <img src="img/check.svg" class="how__text--el">
                    Включите лампу. <br>
                    Процедура длится <br>
                    всего 15 минут
                </p>
            </div>
        </div>
        <h3 class="how__subtitle">
            <img src="img/check.svg" class="how__subtitle--el how__subtitle--el-1">
            <img src="img/how__circle.png" class="how__subtitle--el how__subtitle--el-2">

            Повторяйте 2 раза в день на протяжении 21 дня
        </h3>
        <div class="btn how__btn">
            Заказать сейчас
        </div>
    </div>
</section>