<section class="order block" id="order">
  <div class="container">
    <h2 class="title order__title">
      Как заказать <span class="blue">iDent&nbsp;Formula</span>
    </h2>
    <div class="order__content">
      <div class="item">
        <img src="img/order-1.jpg" alt="img" class="item__img" />
        <p class="item__text">
          <span class="bold">Заполните форму</span>на сайте
        </p>
      </div>
      <div class="item">
        <img src="img/order-2.jpg" alt="img" class="item__img" />
        <p class="item__text">
          <span class="bold">Ответьте на звонок</span> менеджера
        </p>
      </div>
      <div class="item">
        <img src="img/order-3.jpg" alt="img" class="item__img" />
        <p class="item__text">
          <span class="bold">Получите посылку</span>на почте
        </p>
      </div>
    </div>
  </div>
</section>