<section class="reviews block" id="reviews" data-id="scrollreviews">
  <div class="container">
    <h2 class="title reviews__title">Отзывы</h2>
    <div class="slider-wrap">
      <div class="reviews__slider">
        <!--=include ../slide/slide1.html -->
        <!--=include ../slide/slide2.html -->
        <!--=include ../slide/slide3.html -->
        <!--=include ../slide/slide4.html -->
        <!--=include ../slide/slide5.html -->
        <!--=include ../slide/slide6.html -->
        <!--include ../slide/slide7.html -->
        <!--=include ../slide/slide8.html -->
        <!--=include ../slide/slide9.html -->
        <!--=include ../slide/slide10.html -->
      </div>
      <span class="paging">1 / 9</span>
      <div class="preview-item preview-item--prev" id="js_preview-prev">
        <div class="preview-item__content">
          <div class="img-wrap img-wrap--before">
            <img src="img/reviews-2.png" alt="review" class="review review--before" />
          </div>
          <div class="img-wrap img-wrap--after">
            <img src="img/reviews-2-2.png" alt="review" class="review review--after" />
          </div>
        </div>
      </div>
      <div class="preview-item preview-item--next" id="js_preview-next">
        <div class="preview-item__content">
          <div class="img-wrap img-wrap--before">
            <img src="img/reviews-10.png" alt="review" class="review review--before" />
          </div>
          <div class="img-wrap img-wrap--after">
            <img src="img/reviews-10-10.png" alt="review" class="review review--after" />
          </div>
        </div>
      </div>
    </div>
    <div class="center"><button class="btn reviews__btn ever-popup-btn">Заказать iDent</button></div>
  </div>
</section>