<section class="work block">
    <div class="container">
        <h2 class="title work__title">
            Как работает <span class="blue">iDent&nbsp;Formula</span>
        </h2>
        <div class="work__content">
            <div class="work__item work__item--1">
                <span class="work__item--num work__item--num-1">
                    1
                </span>
                <div class="work__img">
                    <img src="img/work__arrow.png" alt="" class="work__img--el work__img--el-1">
                    <img src="img/work__mol-1.png" alt="" class="work__img--el work__img--el-2">
                    <img src="img/work__mol-2.png" alt="" class="work__img--el work__img--el-3">
                    <img src="img/work__mol-3.png" alt="" class="work__img--el work__img--el-4">
                    <img src="img/work__img-1.png" alt="" class="work__foto work__foto--1">
                </div>
                <p class="work__text">
                    Специальный свет активирует<br>
                    гель. Высвобождаются<br>
                    <span class="work__text--bold">молекулы кислорода</span>, которые<br>
                    проникают глубоко в&nbsp;костную<br>
                    ткань зубов, и&nbsp;мягко <span class="work__text--bold">разбивают<br>
                    желтый пигмент</span>
                </p>
            </div>
            <div class="work__item work__item--2">
                <span class="work__item--num work__item--num-2">
                    2
                </span>
                <div class="work__img">
                    <img src="img/work__star.png" alt="" class="work__img--el work__img--el-21">
                    <img src="img/work__img-2.png" alt="" class="work__foto work__foto--2">
                </div>
                <p class="work__text">
                    Зубная эмаль<br>
                    восстанавливается<br>
                    и&nbsp;<span class="work__text--bold">постепенно исчезают <br>
                    микротрещины</span>, благодаря<br>
                    натуральному составу<br>
                    геля
                </p>
            </div>
            <div class="work__item work__item--3">
                <span class="work__item--num work__item--num-3">
                    3
                </span>
                <div class="work__img">
                    <img src="img/work__star-1.png" alt="" class="work__img--el work__img--el-31">
                    <img src="img/work__img-3.png" alt="" class="work__foto work__foto--3">
                </div>
                <p class="work__text">
                    По&nbsp;окончанию курса<br>
                    <span class="work__text--bold">укрепляется эмаль и&nbsp;защищен <br>
                        дентин</span> - внутренняя<br>
                    часть зуба
                </p>
            </div>
        </div>

    </div>
</section>